<!DOCTYPE html>
<html>
<head>
  <title>Favorite Books</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Add author", new_author_path %>



<%= yield %>

</body>
</html>
